@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    cursor: pointer;
    background: inherit;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}