.header{
    padding-top: 260px;

    &-text{
        color: #03B8FE;
        font-family: Inter;
        @include adaptive-value('font-size', 50, 30);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    &-name_text{
        color: #000;
        font-family: Inter;
        @include adaptive-value('font-size', 50, 29);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
    }

    &-info{
        padding-top: 200px;
        @include flex(center, space-between);

        &_text{
            color: #000;
            font-family: Inter;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &-writer{
        color: #03B8FE;
        font-family: Inter;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-btn{
        color: #FFF;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: #00B8FF;
        border: none;
        padding: 15px 50px;
        border-radius: 4px;
        border: 2px solid #00B8FF;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: transparent;
            color: #000;
        }

        @media screen and (max-width: 600px){
            display: none;
        }
    }
}